*.log
*log.txt
.env
.ssh
.idea
.cache
.local
.config
.project
.settings
.buildpath
npm-debug.log
.bash_history
.mysql_history
.bash_logout
.bash_profile
.bashrc
.DS_Store
__MACOSX

core.zip
dump.zip

/*
!/bin
!/www
!/data
!/logs
!/tests
!/fonts
!/docker
!/assets
!/scripts
!/symfony
!/.babelrc
!/README.md
!/.env.example
!/.eslintrc
!/.gitattributes
!/symfony.lock
!/composer.json
!/composer.lock
!/deploy_vbox.sh
!/deploy_docker.sh
!/docker-compose.yml
!/Jenkinsfile
!/package.json
!/.phpcs.xml
!/phpunit.xml
!/.eslintrc.js
!/.eslintignore
!/babel.config.js
!/webpack.config.js

!.gitkeep
!.gitignore

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/./symfony/config/secrets/prod/prod.decrypt.private.php
/./www/local/api/symfony/bundles/
/./symfony/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/./www/local/api/symfony/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
